/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Noto sans";
  src: url(../fonts/NotoSans-VariableFont.ttf);
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Noto sans", sans-serif;
  line-height: 1.5;
  color: #161616;
}

main {
  flex: 1;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-family: "Noto sans", sans-serif;
  color: #161616;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.75rem;
  line-height: 1.2;
  font-family: "Noto sans", sans-serif;
  color: #161616;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-family: "Noto sans", sans-serif;
  color: #161616;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-family: "Noto sans", sans-serif;
  color: #161616;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  h4 {
    margin-bottom: 0.875rem;
    font-size: 1.75rem;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: "Noto sans", sans-serif;
  color: #161616;
}
@media (min-width: 768px) {
  h5 {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1rem;
  line-height: 1.4;
  font-family: "Noto sans", sans-serif;
  font-weight: bold;
  color: #161616;
}
@media (min-width: 768px) {
  h6 {
    font-size: 1.125rem;
  }
}
@media (min-width: 992px) {
  h6 {
    font-size: 1.25rem;
  }
}

p {
  font-size: 1rem;
  font-family: "Noto sans", sans-serif;
  line-height: 1.5;
  color: #161616;
}

blockquote, i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

img {
  height: auto;
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.display-none {
  display: none;
}
@media (min-width: 992px) {
  .display-none--desktopOnly {
    display: none;
  }
}
@media (max-width: 992px) {
  .display-none--mobileOnly {
    display: none;
  }
}

section {
  padding: 1.5rem 0;
}
@media (min-width: 768px) {
  section {
    padding: 2rem 0;
  }
}
@media (min-width: 992px) {
  section {
    padding: 3rem 0;
  }
}

a {
  color: #a62639;
}
a:hover, a:focus {
  color: #7d1c2b;
}
a--active {
  color: #317B9B;
}
a--active:hover, a--active:focus {
  color: #235E76;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  background-color: #161616;
}
@media (min-width: 992px) {
  footer {
    flex-direction: row;
  }
}
footer p {
  color: #fefefe;
}

.g-nav {
  position: relative;
  background-color: #a62639;
}
.g-nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .g-nav-content {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 992px) {
  .g-nav-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.g-nav-content-logo {
  display: flex;
  align-items: center;
}
.g-nav-content-logo img {
  max-height: 4rem;
}
.g-nav-content #main-menu-toggle {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: none;
  border: none;
}
.g-nav-content #main-menu-toggle .toggle-btn {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.g-nav-content #main-menu-toggle .toggle-btn span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fefefe;
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.g-nav-content #main-menu-toggle .toggle-btn span:first-of-type {
  top: 0;
  width: 26px;
}
.g-nav-content #main-menu-toggle .toggle-btn span:last-of-type {
  bottom: 0;
  width: 12px;
}
.g-nav-content #main-menu-toggle[aria-expanded=true] .toggle-btn span {
  width: 22px;
}
.g-nav-content #main-menu-toggle[aria-expanded=true] .toggle-btn span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.g-nav-content #main-menu-toggle[aria-expanded=true] .toggle-btn span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}
.g-nav-content-main {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fefefe;
}
@media (min-width: 992px) {
  .g-nav-content-main {
    position: static;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background: none;
  }
}
.g-nav-content-main ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 32px;
}
@media (min-width: 992px) {
  .g-nav-content-main ul {
    flex-direction: row;
    column-gap: 24px;
    width: auto;
    padding: 0;
  }
}
@media (max-width: 992px) {
  .g-nav-content-main ul li:first-of-type a {
    padding-top: 32px;
  }
}
.g-nav-content-main--open {
  display: flex;
}
.g-nav-content-main-item {
  display: block;
  padding: 16px 0;
  width: 100%;
  text-decoration: none;
  font-size: 1.125rem;
  font-family: "Noto sans", sans-serif;
  line-height: 1.5;
  color: #a62639;
}
@media (min-width: 768px) {
  .g-nav-content-main-item {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .g-nav-content-main-item {
    padding: 0;
    width: auto;
    color: #fefefe;
  }
}

.g-skiplink {
  display: inline-block;
  opacity: 0;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: -1;
  padding: 15px 25px;
  border: 2px solid #f00;
  border-radius: 0 !important;
  color: #fff;
  background-color: #f00;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
.g-skiplink:focus {
  z-index: 999999999;
  opacity: 1;
}