@use "../abstracts" as *;

.c-contentAndImage{
  &-img{
    img{
      max-height: 596px;
      max-width: 100%;
      height: auto;
      width: 100%;
      object-fit: cover;
      border-radius: $border-radius-xl;
    }
  }
}