@use "../abstracts" as *;

.c-header{
  padding: toRem(24px) 0;

  @include breakpoint-md{
    padding: toRem(32px) 0;
  }

  @include breakpoint-lg{
    padding: toRem(48px) 0;
  }

  &-img{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      max-height: 480px;
      width: auto;
      border-radius: $border-radius-lg;
    }
  }
}