@use "../abstracts" as *;

.c-header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $blue-100;
  padding: toRem(24px) 0;
  min-height: calc(100vh - 104px);

  @include breakpoint-md{
    padding: toRem(32px) 0;
  }

  @include breakpoint-lg{
    padding: toRem(48px) 0;
    min-height: calc(100vh - 120px);
  }

  &-content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

    @include breakpoint-lg{
      height: 100%;
    }

    @keyframes textUp {
      from {
        opacity: 0;
        transform: translateY(100px);
      }

      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    h1{
      animation: 1s cubic-bezier(0.61, 1, 0.88, 1) 0s 1 textUp;
      animation-fill-mode: forwards;
      text-align: center;
      line-height: 1.5;
    }

    p {
      width: 75%;
      @include p-large;
      text-align: center;
      margin-bottom: 24px;
      opacity: 0;
      animation: 1s cubic-bezier(0.61, 1, 0.88, 1) 0s 1 textUp;
      animation-fill-mode: forwards;
      animation-delay: 0.25s;

      @include breakpoint-lg{
        margin-bottom: 32px;
      }
    }

    .p-btn{
      opacity: 0;
      animation: 1s cubic-bezier(0.61, 1, 0.88, 1) 0s 1 textUp;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }
  }

  &-img{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      max-height: 480px;
      width: auto;
      border-radius: $border-radius-lg;
    }
  }

  @keyframes scaleOpacityDesk {
    from{
      opacity: 0;
      transform: scale(0%);
    }

    to {
      opacity: 1;
      transform: scale(100%);
    }
  }

  @keyframes scaleOpacityMob {
    from {
      opacity: 0;
      transform: scale(0%);
    }

    to {
      opacity: 0.3;
      transform: scale(100%);
    }
  }

  &-icon{
    z-index: 1;
    position: absolute;
    opacity: 0;
    animation: 1s cubic-bezier(0.61, 1, 0.88, 1) 0s 1 scaleOpacityMob;
    animation-fill-mode: forwards;
    width: 120px;
    height: 120px;

    @include breakpoint-lg{
      animation: 1s cubic-bezier(0.61, 1, 0.88, 1) 0s 1 scaleOpacityDesk;
      animation-fill-mode: forwards;
      width: 160px;
      height: 160px;
    }

    &--target{
      top: 10%;
      left: 10%;

      @include breakpoint-lg{
        top: 20%;
      }
    }

    &--bean{
      top: 10%;
      right: 15%;
      width: 100px;
      height: 100px;
      animation-delay: 0.2s;
    }

    &--scribble{
      bottom: 20%;
      right: 15%;
      fill: $primaryColor !important;
      animation-delay: 0.6s;

      * {
        fill: $primaryColor !important;
      }
    }

    &--donut{
      bottom: 10%;
      left: 20%;
      width: 120px;
      height: 120px;
      animation-delay: 0.4s;
    }
  }
}