.p-quote {
  border-left: 4px solid #f6d5da;
  margin: 1em 0;
  padding: 0.5em 1em;
  min-width: 100%;
  background-color: #faeaed;
  border-radius: 4px;
}
@media (min-width: 576px) {
  .p-quote {
    min-width: 240px;
  }
}
.p-quote cite {
  display: block;
  margin-top: 0.5em;
  font-style: normal;
  font-size: 0.75rem;
  font-family: #454545;
  line-height: 1.5;
  color: "Noto sans", sans-serif;
}
@media (min-width: 768px) {
  .p-quote cite {
    font-size: 0.875rem;
  }
}
.p-quote cite:before {
  content: "-  ";
}