@use '../abstracts' as *;

section{
  padding: toRem(24px) 0;

  @include breakpoint-md{
    padding: toRem(32px) 0;
  }

  @include breakpoint-lg{
    padding: toRem(48px) 0;
  }

  @include breakpoint-xl{
    padding: toRem(72px);
  }
}

a {
  color: $primaryColor;

  &:hover, &:focus {
    color: $primaryColorHover;
  }

  &--active {
    color: $secondaryColor;

    &:hover, &:focus {
      color: $secondaryColorHover;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.modalBackdrop{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,0.2);
  opacity: 0;
  transition: ease 1s;
  will-change: opacity;

  &-opening{
    opacity: 1;
  }

  &-closing{
    opacity: 0;
  }
}