@use "variables" as *;
@use "function" as *;
@use "sass:map";

/**
Breakpoints
*/
// Small devices
@mixin breakpoint-sm {
    @media (min-width: 576px ) {
        @content;
    }
}

// Medium devices
@mixin breakpoint-md {
    @media (min-width: 768px) {
        @content;
    }
}

// Large devices
@mixin breakpoint-lg {
    @media (min-width: 992px) {
        @content;
    }
}

// Extra large devices
@mixin breakpoint-xl {
    @media (min-width: 1200px) {
        @content;
    }
}

// Larger devices: xxl
@mixin breakpoint-xxl {
    @media (min-width: 1400px) {
        @content;
    }
}

// Even Larger devices: xxl
@mixin breakpoint-xxxl {
    @media (min-width: 1600px) {
        @content;
    }
}

// used to include a color changing svg
@mixin pseudoSVG($url, $color) {
    // to use an after with a colored svg;
    background-color: $color;
    -webkit-mask: url($url) center/contain no-repeat;
    mask: url($url) center/contain no-repeat;
}


// setting the standard typography styling
@mixin h1($color: $baseBlack, $font: $primaryFont){
    font-size: toRem(32px);
    margin-bottom: toRem(16px);
    line-height: 1.2;
    font-family: $font;
    color: $color;

    @include breakpoint-md{
        font-size: toRem(36px);
        margin-bottom: toRem(18px);
    }

    @include breakpoint-lg{
        font-size: toRem(48px);
        margin-bottom: toRem(24px);
    }
}

@mixin h2($color: $baseBlack, $font: $primaryFont){
    font-size: toRem(28px);
    margin-bottom: toRem(14px);
    line-height: 1.2;
    font-family: $font;
    color: $color;

    @include breakpoint-md{
        font-size: toRem(32px);
        margin-bottom: toRem(16px);
    }

    @include breakpoint-lg{
        font-size: toRem(40px);
        margin-bottom: toRem(20px);
    }
}

@mixin h3($color: $baseBlack, $font: $primaryFont){
    font-size: toRem(24px);
    margin-bottom: toRem(12px);
    line-height: 1.4;
    font-family: $font;
    color: $color;

    @include breakpoint-md{
        font-size: toRem(28px);
        margin-bottom: toRem(14px);
    }

    @include breakpoint-lg{
        font-size: toRem(32px);
        margin-bottom: toRem(16px);
    }
}

@mixin h4($color: $baseBlack, $font: $primaryFont){
    font-size: toRem(20px);
    margin-bottom: toRem(10px);
    line-height: 1.4;
    font-family: $font;
    color: $color;

    @include breakpoint-md{
        font-size: toRem(24px);
        margin-bottom: toRem(12px);
    }

    @include breakpoint-lg{
        font-size: toRem(28px);
        margin-bottom: toRem(14px);
    }
}

@mixin h5($color: $baseBlack, $font: $primaryFont){
    font-size: toRem(18px);
    margin-bottom: toRem(9px);
    line-height: 1.4;
    font-family: $font;
    color: $color;

    @include breakpoint-md{
        font-size: toRem(20px);
        margin-bottom: toRem(10px);

    }

    @include breakpoint-lg{
        font-size: toRem(24px);
        margin-bottom: toRem(12px);

    }
}

@mixin h6($color: $baseBlack, $font: $primaryFont){
    font-size: toRem(16px);
    margin-bottom: toRem(8px);
    line-height: 1.4;
    font-family: $font;
    font-weight: bold;
    color: $color;

    @include breakpoint-md{
        font-size: toRem(18px);
        margin-bottom: toRem(9px);
    }

    @include breakpoint-lg{
        font-size: toRem(20px);
        margin-bottom: toRem(10px);
    }
}

@mixin p-large($color: $baseBlack, $font: $primaryFont) {
    font-size: toRem(18px);
    font-family: $font;
    line-height: 1.5;
    color: $color;

    @include breakpoint-md {
        font-size: toRem(20px);
    }
}

@mixin p-body($color: $baseBlack, $font: $primaryFont){
    font-size: toRem(16px);
    font-family: $font;
    line-height: 1.5;
    color: $color;
}

@mixin p-small($color: $baseBlack, $font: $primaryFont){
    font-size: toRem(12px);
    font-family: $font;
    line-height: 1.5;
    color: $color;

    @include breakpoint-md{
        font-size: toRem(14px);
    }
}