// Neutral color swatch
$neutral-950: #161616;
$neutral-900: #2d2d2d;
$neutral-800: #454545;
$neutral-700: #5c5c5c;
$neutral-600: #737373;
$neutral-500: #8b8b8b;
$neutral-400: #a2a2a2;
$neutral-300: #b9b9b9;
$neutral-200: #d0d0d0;
$neutral-100: #e8e8e8;
$neutral-50: #fefefe;
$neutral-0: #ffffff;

// Accessible Minds Blue
$blue-950: #090316;
$blue-900: #12062d;
$blue-800: #250C5A;
$blue-700: #371287;
$blue-700: #3F1497;
$blue-600: #5C37A6;
$blue-500: #5C37A6;
$blue-400:  #967EC6;
$blue-400:  #a995d0;
$blue-200:  #CFC4E5;
$blue-100:  #e2dcef;
$blue-50:  #F5F3FA;

// Accessible Minds coral (Warm Coral)
$coral-950: #2e0a06;
$coral-900: #50130c;
$coral-800: #802011;
$coral-700: #b02c17;
$coral-600: #e13a1d;
$coral-500: #f24c2e;
$coral-400: #f86a50;
$coral-300: #fb8d76;
$coral-200: #fcc2b5;
$coral-100: #fdded7;
$coral-50:  #fff5f2;

// base colors
$baseBlack: $blue-800;
$baseWhite: $neutral-0;

// primary colors
$primaryColor: $blue-700;
$primaryColorHover: $blue-800;

// secondary colors
$secondaryColor: $coral-600;
$secondaryColorHover: $coral-700;

// font setting
$baseFont: 'Sora', sans-serif;

$seeThrough: rgba(51, 51, 51, .25);

// border radii
$border-radius-none: 0;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 24px;
$border-radius-xxl: 48px;
$border-radius-full: 50%;

// box-shadow
$box-shadow: 0px 7px 8px #250C5A26;

//feedback colors
$feedbackOk: #73C64C;
$feedbackAlert: #FE8025;
$feedbackError: #ff4f4f;
$feedbackError-1: #CC3F3F;
$feedbackError-2: #A63333;

// Fonts
$primaryFont: 'Sora bold', sans-serif;
$secondaryFont: 'Sora regular', sans-serif;
$tertiaryFont: 'Sora medium', 'Sora regular', sans-serif;
$quaternaryFont: 'Sora semibold', sans-serif;

