// Neutral color swatch
$neutral-950: #161616;
$neutral-900: #2d2d2d;
$neutral-800: #454545;
$neutral-700: #5c5c5c;
$neutral-600: #737373;
$neutral-500: #8b8b8b;
$neutral-400: #a2a2a2;
$neutral-300: #b9b9b9;
$neutral-200: #d0d0d0;
$neutral-100: #e8e8e8;
$neutral-50: #fefefe;
$neutral-0: #ffffff;

// Red color swatch
$red-950: #170202;
$red-900: #2F0404;
$red-800: #5F0707;
$red-700: #8E0B0B;
$red-600: #C80D0F;
$red-500: #F00F13;
$red-400: #F33F42;
$red-300: #F66F71;
$red-200: #F99FA1;
$red-100: #FCCFD0;
$red-50: #FDE7E7;

// Accessible Minds Blue
$blue-950: #090316;
$blue-900: #12062d;
$blue-800: #250C5A;
$blue-700: #371287;
$blue-700: #3F1497;
$blue-600: #5C37A6;
$blue-500: #5C37A6;
$blue-400:  #967EC6;
$blue-400:  #a995d0;
$blue-200:  #CFC4E5;
$blue-100:  #e2dcef;
$blue-50:  #F5F3FA;

// green color swatch
$green-950: #011901;
$green-900: #013201;
$green-800: #016501;
$green-700: #018601;
$green-600: #08C408;
$green-500: #0AF50A;
$green-400: #3BF73B;
$green-300: #6CF96C;
$green-200: #9DFB9D;
$green-100: #CEFDCE;
$green-50: #EBFEEB;

// base colors
$baseBlack: $blue-800;
$baseWhite: $neutral-0;

// primary colors
$primaryColor: $blue-800;
$primaryColorHover: $blue-900;

// secondary colors
$secondaryColor: $blue-600;
$secondaryColorHover: $blue-700;

// font setting
$baseFont: 'Sora', sans-serif;

$seeThrough: rgba(51, 51, 51, .25);

// border radii
$border-radius-none: 0;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 24px;
$border-radius-full: 50%;

// box-shadow
$box-shadow: 0px 7px 8px #250C5A26;

//feedback colors
$feedbackOk: #73C64C;
$feedbackAlert: #FE8025;
$feedbackError: #ff4f4f;
$feedbackError-1: #CC3F3F;
$feedbackError-2: #A63333;

// Fonts
$primaryFont: 'Sora bold', sans-serif;
$secondaryFont: 'Sora regular', sans-serif;
$tertiaryFont: 'Sora medium', 'Sora regular', sans-serif;
$quaternaryFont: 'Sora semibold', sans-serif;

