// Colors
$balanced: #C80D0F;
$energy: #831441;
$success: #118823;
$btnGreen: #018601;
$spirit: #ffdcdc;
$flow: #EFEFEF;
$soft: #ffe8e3;

$epic: #FFD6D8;
$future: #FFE8E3;
$past: #FFF6E3;
$calm: #E3FFF8;
$motion: #E3E6FF;
$still: #E3F4FF;

// Neutral color swatch
$neutral-950: #161616;
$neutral-900: #2d2d2d;
$neutral-800: #454545;
$neutral-700: #5c5c5c;
$neutral-600: #737373;
$neutral-500: #8b8b8b;
$neutral-400: #a2a2a2;
$neutral-300: #b9b9b9;
$neutral-200: #d0d0d0;
$neutral-100: #e8e8e8;
$neutral-50: #fefefe;
$neutral-0: #ffffff;

// Bubblefish Red color swatch
$bubblefishRed-950: #170202;
$bubblefishRed-900: #2F0404;
$bubblefishRed-800: #5F0707;
$bubblefishRed-700: #8E0B0B;
$bubblefishRed-600: #C80D0F;
$bubblefishRed-500: #F00F13;
$bubblefishRed-400: #F33F42;
$bubblefishRed-300: #F66F71;
$bubblefishRed-200: #F99FA1;
$bubblefishRed-100: #FCCFD0;
$bubblefishRed-50: #FDE7E7;

// green color swatch
$green-950: #011901;
$green-900: #013201;
$green-800: #016501;
$green-700: #018601;
$green-600: #08C408;
$green-500: #0AF50A;
$green-400: #3BF73B;
$green-300: #6CF96C;
$green-200: #9DFB9D;
$green-100: #CEFDCE;
$green-50: #EBFEEB;

// base colors
$baseBlack: $neutral-950;
$baseWhite: $neutral-0;

// primary colors
$primaryColor: $bubblefishRed-600;
$primaryColorHover: $bubblefishRed-700;

// secondary colors
$secondaryColor: $green-600;
$secondaryColorHover: $green-700;

// font setting
$bodyFont: 'Rubik', sans-serif;
$titleFont: 'Playfair Display', sans-serif;

$seeThrough: rgba(51, 51, 51, .25);

// border radii
$border-radius-none: 0;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 24px;
$border-radius-full: 50%;