@use "../../abstracts" as *;

.p-btn{
  @include p-large($baseWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: fit-content;
  padding: 8px 24px;
  border-radius: $border-radius-xxl;
  background-color: $primaryColor;
  text-decoration: none;

  &:after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $baseWhite;
    border-radius: $border-radius-full;
  }

  &:hover, &:focus{
    color: $baseWhite;
    background-color: $primaryColorHover;

    &:after{
      animation: bounce 0.3s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }

    @keyframes bounce {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }

  &--onDark{
    color: $baseBlack;
    background-color: $secondaryColor;

    &:after{
      background-color: $baseBlack;
    }

    &:hover, &:focus{
      color: $baseBlack;
      background-color: $secondaryColorHover;
    }
  }
}