<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  {% include 'globals/_head' %}
	<body>
    {% include '/globals/_skiplink' %}
    {% include "globals/_navigation" %}
		<main id="headerskip">
			{% block content %}

      		{% endblock %}
		</main>
    {% include "globals/_footer" %}

	{{ craft.app.view.registerJsFile('@web/assets/js/main.js') }}
    {{ endBody() }}
	</body>
</html>
