<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
	<head>
		<meta charset="utf-8"/>
		<title>{{ siteName }}</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">

		{% do craft.app.view.registerCssFile('@web/assets/css/styles.css') %}
	</head>
	<body>
    {% include "globals/_navigation" %}
		<main>
			{% block content %}

      {% endblock %}
		</main>
    {% include "globals/_footer" %}
	</body>
</html>
