<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  {% include 'globals/_head' %}
	<body>
    {% include '/globals/_skiplink' %}
    {% include "globals/_navigation" %}
		<main id="headerskip">
			{% block content %}

      		{% endblock %}
		</main>
    {% include "globals/_footer" %}

    {{ endBody() }}
	</body>
</html>
