@use '../abstracts' as *;

section{
  padding: toRem(24px) 0;

  @include breakpointUp(md){
    padding: toRem(32px) 0;
  }

  @include breakpointUp(lg){
    padding: toRem(48px) 0;
  }
}

a {
  color: $primaryColor;

  &:hover, &:focus {
    color: $primaryColorHover;
  }

  &--active {
    color: $secondaryColor;

    &:hover, &:focus {
      color: $secondaryColorHover;
    }
  }
}