{# Registering the asset files to be used in head #}
{{ craft.app.view.registerCssFile('@web/assets/css/components/' ~ block.type.handle ~ '.css') }}

{# Setting the variables#}
{% set blockContent = block.repeatingContent %}


<section class="c-contentComponent">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="c-contentComponent-content">
                    {% for content in blockContent %}
                        {% set blockType = content.type.handle %}

                        {% if blockType == 'text' %}
                            <div class="c-contentComponent-content-text">
                                {{ content.wysiwyg | raw }}
                            </div>
                        {% elseif blockType == 'image' %}
                            {% set image = content.singleImage.one() %}

                            <div class="c-contentComponent-content-img">
                                {{ image.getImg() }}
                            </div>
                        {% elseif blockType == 'quote' %}
                            {% include 'components/partials/_quote.twig' with {
                                quoteText: content.quote,
                                quoteCite: content.cite

                            } %}
                        {% else %}
                            <div class="c-contentComponent-content-unsupported">
                                <p>Unsupported block type: <code>{{ blockType }}</code></p>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="c-contentComponent-content-empty">
                            <p>This post has no content!</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

