@use "variables" as *;
@use "function" as *;
@use "sass:map";

// Breakpoints Map
$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);

// Breakpoint up Mixin
@mixin breakpointUp($size) {
    $min-width: map.get($breakpoints, $size);
    @if $min-width {
        @media (min-width: $min-width) {
            @content;
        }
    } @else {
        @error "Breakpoint '#{$size}' not found in \$breakpoints map.";
    }
}

// Breakpoint up Mixin
@mixin breakpointDown($size) {
    $max-width: map.get($breakpoints, $size);
    @if $max-width {
        @media (max-width: $max-width) {
            @content;
        }
    } @else {
        @error "Breakpoint '#{$size}' not found in \$breakpoints map.";
    }
}

// used to include a color changing svg
@mixin pseudoSVG($url, $color) {
    // to use an after with a colored svg;
    background-color: $color;
    -webkit-mask: url($url) center/contain no-repeat;
    mask: url($url) center/contain no-repeat;
}


// setting the standard typography styling
@mixin h1($font: $primaryFont, $color: $baseBlack){
    margin-bottom: toRem(16px);
    font-size: toRem(32px);
    line-height: 1.2;
    font-family: $font;
    color: $color;

    @include breakpointUp(md){
        margin-bottom: toRem(18px);
        font-size: toRem(36px);
    }

    @include breakpointUp(lg){
        margin-bottom: toRem(24px);
        font-size: toRem(48px);
    }
}

@mixin h2($font: $primaryFont, $color: $baseBlack){
    margin-bottom: toRem(14px);
    font-size: toRem(28px);
    line-height: 1.2;
    font-family: $font;
    color: $color;

    @include breakpointUp(md){
        margin-bottom: toRem(16px);
        font-size: toRem(32px);
    }

    @include breakpointUp(lg){
        margin-bottom: toRem(20px);
        font-size: toRem(40px);
    }
}

@mixin h3($font: $primaryFont, $color: $baseBlack){
    margin-bottom: toRem(12px);
    font-size: toRem(24px);
    line-height: 1.4;
    font-family: $font;
    color: $color;

    @include breakpointUp(md){
        margin-bottom: toRem(14px);
        font-size: toRem(28px);
    }

    @include breakpointUp(lg){
        margin-bottom: toRem(16px);
        font-size: toRem(32px);
    }
}

@mixin h4($font: $primaryFont, $color: $baseBlack){
    margin-bottom: toRem(10px);
    font-size: toRem(20px);
    line-height: 1.4;
    font-family: $font;
    color: $color;

    @include breakpointUp(md){
        margin-bottom: toRem(12px);
        font-size: toRem(24px);
    }

    @include breakpointUp(lg){
        margin-bottom: toRem(14px);
        font-size: toRem(28px);
    }
}

@mixin h5($font: $primaryFont, $color: $baseBlack){
    margin-bottom: toRem(9px);
    font-size: toRem(18px);
    line-height: 1.4;
    font-family: $font;
    color: $color;

    @include breakpointUp(md){
        margin-bottom: toRem(10px);
        font-size: toRem(20px);
    }

    @include breakpointUp(lg){
        margin-bottom: toRem(12px);
        font-size: toRem(24px);
    }
}

@mixin h6($font: $primaryFont, $color: $baseBlack){
    margin-bottom: toRem(8px);
    font-size: toRem(16px);
    line-height: 1.4;
    font-family: $font;
    font-weight: bold;
    color: $color;

    @include breakpointUp(md){
        margin-bottom: toRem(9px);
        font-size: toRem(18px);
    }

    @include breakpointUp(lg){
        margin-bottom: toRem(10px);
        font-size: toRem(20px);
    }
}

@mixin p-body($font: $primaryFont, $color: $baseBlack){
    font-size: toRem(16px);
    font-family: $font;
    line-height: 1.5;
    color: $color;
}

@mixin p-small($font: $primaryFont, $color: $baseBlack){
    font-size: toRem(12px);
    font-family: $font;
    line-height: 1.5;
    color: $baseBlack;

    @include breakpointUp(md){
        font-size: toRem(14px);
    }
}