$neutral-950: #161616;
$neutral-900: #2d2d2d;
$neutral-800: #454545;
$neutral-700: #5c5c5c;
$neutral-600: #737373;
$neutral-500: #8b8b8b;
$neutral-400: #a2a2a2;
$neutral-300: #b9b9b9;
$neutral-200: #d0d0d0;
$neutral-100: #e8e8e8;
$neutral-50: #fefefe;

$baseBlack: $neutral-950;
$baseWhite: $neutral-50;

$primaryFont: 'Noto sans', sans-serif;