@use "../abstracts" as *;

.g-footer {
  display: flex;
  flex-direction: column;
  padding: toRem(24px) toRem(12px);
  background-color: $baseBlack;

  @include breakpoint-lg {
    flex-direction: row;
    padding: toRem(56px);
  }

  h2, p {
    color: $baseWhite;
  }

  h2 {
    @include h5($baseWhite)
  }

  a {
    color: $baseWhite;

    &:hover, &:focus {
      color: $baseWhite;
      text-decoration: none;
    }
  }

  &-content{
    padding: toRem(8px) 0;

    @include breakpoint-lg{
      padding: 0;
    }
  }

  &-icon {
    max-width: 256px;
  }
}