@use "../abstracts" as *;

footer{
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    background-color:  $baseBlack;

    @include breakpoint-lg{
        flex-direction: row;
    }

    p{
        color: $baseWhite;
    }
}